fastapi
uvicorn
pydantic
requests
python-dotenv
pandas
numpy
scipy
torch
torchaudio
transformers
pyaudio
webrtcvad
noisereduce
SpeechRecognition
resemblyzer
pyttsx3
playsound==1.2.2
soundfile
langchain-core
langchain-ollama
langchain-chroma
